<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <script src='/js/clock.js'></script>
    <title> Your Profile </title>
  </head>
  <body>
    <div class="w3-navbar">
        <div class="clock">
            <div class="bg">
                <h2 id="h">12</h2>
            </div>
            <h2>:</h2>
            <div class="bg">
                <h2 id="m">20</h2>
            </div>
            <h2>:</h2>
            <div class="bg">
                <h2 id="s">00</h2>
            </div>
            <div class="bg">
                <h2 id="ap">AM</h2>
            </div>
        </div>
        <a href="/controll-panel"><i class="fa fa-fw fa-wrench"></i>Controll panel</a>
        <a href="/sign-in"><i class="fa fa-fw fa-bar-chart"></i>Sign in</a>
        <a class="active" href="/user"><i class="fa fa-fw fa-bar-chart"></i>Profile</a>
        <a href="/user-management"><i class="fa fa-fw fa-bar-chart"></i>Users Management</a>
    </div>

    <div class="container">
      <div class="cover-photo">
        <img src="https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="profile">
      </div>
      <% for(let i=0; i < data.length; i++) { %>
        <div>
          <div class="profile-name"><%= data[i].tendaydu %></div>
          <p class="about">ID: <%= data[i].id %> <br> Username: <%= data[i].username %> <br> Email: <%= data[i].email %> <br> Gender: <%= data[i].gender %> <br> Age: <%= data[i].age %> <br> <br>
          <a href="/edit-profile"><button id="change" class="msg-btn">Change</button>  </a>
          <br>
          <form action="/exportuser-csv" , method="post">
              <input type="text" hidden value="<%= data[i].id %>" name="userId"/>
              <button type="submit" class="msg-btn">Export CSV</button>
          </form>
          <!-- <form action="/uploadfile" enctype="multipart/form-data" method="post">
            <input type="text" hidden value="<%= data[i].id %>" name="userId"/>
            <input type="file" name="uploadfile" accept='csv' >
            <input type="submit" value="Upload CSV">
          </form> -->
          <div>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-twitter"></i>
          </div>
        </div>
      <% } %> 
    </div>
  </body>
</html>
